[Desktop Entry]
Name=Freeciv modpack installer (gtk2)
Name[ru]=Установка модов Freeciv
Comment=Download and install add-ons for Freeciv
Comment[ru]=Загрузка и установка расширений Freeciv
Exec=freeciv-mp-gtk2
TryExec=freeciv-mp-gtk2
Icon=freeciv-modpack
StartupNotify=true
Terminal=false
Type=Application
Categories=GTK;Game;StrategyGame;
Keywords=strategy;simulation;civilization;tiles;history;mankind;multiplayer;download;installer;
