[Desktop Entry]
Type=Application
Version=1.0
Name=Ri-li
GenericName=Ri-li
Comment=Drive a toy wood engine
Comment[ru]=Управление деревянной игрушкой
Exec=Ri_li
TryExec=Ri_li
Icon=Ri-li
Terminal=false
StartupNotify=false
Categories=Game;ArcadeGame;
