[Desktop Entry]
Name=Wine RegEdit
Name[ru]=Редактор реестра
Comment=Wine Registry Editor
Comment[ru]=Редактор реестра Wine
GenericName=Wine RegEdit
GenericName[ru]=Редактор реестра
Exec=regedit
TryExec=regedit
Terminal=false
Type=Application
Icon=wine-regedit
Categories=Wine;Settings;
