[Desktop Entry]
Name=Winemine
Name[ru]=Минёр
Comment=Wine Minesweeper
Comment[ru]=Минёр Wine
GenericName=Windows environment
GenericName[ru]=Запуск Windows-программ
Exec=winemine
TryExec=winemine
Terminal=false
Type=Application
Icon=wine-winemine
Hidden=true
Categories=Wine;Game;LogicGame;
